<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>cars</title>
</head>
<body>
<form th:method="POST" th:action="@{cars}" th:object="${count}">
    <input type="text" th:field="*{count}">
    <br/>
    <input type="submit" value="Show!">
</form>
    <div>
        <th:block th:each ="car : ${counted}">
        <p th:text="${car.getModel()}">car</p>
        <p th:text="${car.getPrice()}">car</p>
        <p th:text="${car.getSeries()}">car</p>
        </th:block>
    </div>
</body>
</html>