<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div style="text-align: left;padding:5px;margin:5px 0px;background:rgba(253,0,224,0.68);">
    <a href="/logout" th:text="EXIT">Exit</a>
<!--    &nbsp;|&nbsp;-->
</div>
<div>
    <form th:method="POST" th:action="@{/admin}" th:object="${person}">
        <a th:if="${message}" STYLE="color: brown" th:text="${message}"></a>
        <input type="hidden" id="id" th:field="*{id}">
        <table>
            <tr>
                <td><label for="username" th:text="USERNAME + ':'">Username:</label></td>
                <td><input type="text" th:field="*{username}" id="username"></td>
            </tr>
            <tr>
                <td><label for="password" th:text="PASSWORD + ':'">Password:</label></td>
                <td><input type="text" th:field="*{password}" id="password"></td>
            </tr>
            <tr>
                <td><label for="name" th:text="NAME + ':'">Name:</label></td>
                <td><input type="text" th:field="*{name}" id="name" th:value="${person.name}"></td>
            </tr>
            <tr>
                <td><label for="surname" th:text="SURNAME + ':'">Last name:</label></td>
                <td><input type="text" th:field="*{surname}" id="surname" th:value="${person.surname}"></td>
            </tr>
            <tr>
                <td><label for="age" th:text="AGE + ':'">Age:</label></td>
                <td><input type="text" th:field="*{age}" id="age" th:value="${person.age}"></td>
            </tr>
        </table>
        <div th:if="${adminRole}">
            <input type="checkbox" id="admin1" name="adminRole" checked value="1">
            <label for="admin1" th:text="ADMINISTRATOR"> Admin role</label>
        </div>
        <div th:unless="${adminRole}">
            <input type="checkbox" id="admin2" name="adminRole" value="1">
            <label for="admin2" th:text="ADMINISTRATOR"> Admin role</label>
        </div>
        <br/>
        <input type="submit" th:value="EDIT" style="float: left; margin-right: 20px">
    </form>
</div>
</body>
</html>