<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div style="text-align: right;padding:5px;margin:5px 0px;background:rgba(253,0,224,0.68);">
    <a href="/logout" th:text="EXIT">Exit</a>
</div>
<div>
    <table border="1">
        <tr>
            <th th:text="USERNAME">UserName</th>
            <th th:text="PASS">Password</th>
            <th th:text="ROLE">Roles</th>
            <th></th>
            <th></th>
        </tr>
        <tr th:each="person : ${persons}">
            <td><a th:href="@{/person/{id}(id=${person.id})}" th:text="${person.username}"></a></td>
            <td th:text="${person.password}"></td>
            <td>
                <a th:each="r : ${person.roles}" th:text="${r.role} + '; '"></a>
            </td>
            <td>
                <form th:method="GET" th:action="@{/admin/{id}(id=${person.id})}" th:object="${person}">
                    <input type="submit" th:value="EDIT">
                </form>
            </td>
            <td>
                <form th:method="POST" th:action="@{/admin/{id}(id=${person.id})}" th:object="${person}">
                    <input type="submit" th:value="DELETE">
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>