<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div style="text-align: left;padding:5px;margin:5px 0px;background:rgba(253,0,224,0.68);">
    <a href="/logout" th:text="EXIT">Exit</a>
    &nbsp;&nbsp;
</div>
<div>
    <table>
        <tr>
            <td th:text="USERNAME + ':'">Username:</td>
            <td th:text="${person.username}"></td>
        </tr>
        <tr>
            <td th:text="PASSWORD + ':'">Password:</td>
            <td th:text="${person.password}"></td>
        </tr>
        <tr>
            <td th:text="NAME + ':'">Name:</td>
            <td th:text="${person.name}"></td>
        </tr>
        <tr>
            <td th:text="SURNAME + ':'">Last name:</td>
            <td th:text="${person.surname}"></td>
        </tr>
        <tr>
            <td th:text="AGE + ':'">Age:</td>
            <td th:text="${person.age}"></td>
        </tr>
    </table>
</div>
</body>
</html>